
   <html>
	<head>Welcome to {{greeting_msg}}</head>
        <body>
		<h1>Configuration Management Tools used is {{cm_tool}}</h1>
		<h1>Provisioned by {{provisioner_tool}}</h1>
		<h1>Hostname is {{ansible_nodename}}</h1>
		<h1>OS Distribution {{ansible_distribution}}</h1>
		<h1>OS family {{ansible_os_family}}</h1>
        </body>
   </html>
